git+https://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@github.com/fadhilarab47/pyrogram
tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
Pillow
pymediainfo
opencv-python-headless
requests
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod==1.0
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
python-ffmpeg
search_engine_parser
g4f==0.1.9.3
openai
py-tgcalls==1.0.9
uvloop
google-generativeai
pytimeparse
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
