git+https://github.com/XtomiX/pyrogram
tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
Pillow
pymediainfo
opencv-python-headless
requests
unidecode
httpx[http2]
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod==1.1.0
openai
youtube-search-python==1.4.9
pymongo
yt-dlp
wget
